<form class="{{cssClass}} flexcol" autocomplete="off">

    {{!-- Sheet Header --}}
    <header class="sheet-header">
        <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="100" width="100"/>
        <div class="header-fields">
            <h1 class="charname"><input name="name" type="text" value="{{actor.name}}" placeholder="Name"/></h1>
            {{!-- The grid classes are defined in scss/global/_grid.scss. To use,
            use both the "grid" and "grid-Ncol" class where "N" can be any number
            from 1 to 12 and will create that number of columns.  --}}
            <div class="resources grid grid-2col">
                {{!-- "flex-group-center" is also defined in the _grid.scss file
                and it will add a small amount of padding, a border, and will
                center all of its child elements content and text. --}}
                <div class="resource flex-group-center">
                    <label for="data.coin.spent" class="resource-label">Coin</label>
                    <div class="resource-content flexrow flex-center flex-between">
                        <input type="text" name="data.coin.spent" value="{{data.coin.spent}}" data-dtype="Number" disabled/>
                        <span> / </span>
                        <input type="text" name="data.coin.value" value="{{data.coin.value}}" data-dtype="Number"/>
                    </div>
              </div>
              <div class="resource flex-group-center">
                    <label for="data.upgradepts.spent" class="resource-label">UPs</label>
                    <div class="resource-content flexrow flex-center flex-between">
                        <input type="text" name="data.upgradepts.spent" value="{{data.upgradepts.spent}}" data-dtype="Number" disabled/>
                        <span> / </span>
                        <input type="text" name="data.upgradepts.value" value="{{data.upgradepts.value}}" data-dtype="Number"/>
                    </div>
              </div>
          </div>
        </div>
    </header>

    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="attributes">Attributes</a>
        <a class="item" data-tab="description">Description</a>
        <a class="item" data-tab="items">Items</a>
        <a class="item" data-tab="talents">Talents</a>
        <a class="item" data-tab="spells">Spells</a>
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">

        {{!-- Attributes Tab --}}
        <div class="tab attributes" data-group="primary" data-tab="attributes">
            {{!-- speed and power --}}
            <div class="core grid grid-2col">
                {{!-- speed --}}
                <div class="core flexrow flex-group-center">
                    <label for="data.core.speed.value" class="resource-label">speed</label>
                    <input type="text" name="data.core.speed.value" value="{{data.core.speed.value}}" data-dtype="Number"/>
                </div>
                {{!-- power --}}
                <div class="core flexrow flex-group-center">
                    <label for="data.core.power.value" class="resource-label">power</label>
                    <input type="text" name="data.core.power.value" value="{{data.core.power.value}}" data-dtype="Number"/>
                </div>
            </div>
            {{!-- speed and power abilities --}}
            <div class="attributes grid grid-4col">
                {{!-- speed: agility --}}
                <div class="attribute flexrow flex-group-center">
                    <label for="data.core.speed.attributes.agility.value" class="resource-label">agility</label>
                    <input type="text" name="data.core.speed.attributes.agility.value" value="{{data.core.speed.attributes.agility.value}}" data-dtype="Number"/>
                    {{#each data.core.speed.attributes.agility.skills}}
                    <div class="skill" style="align-items: center; justify-content: flex-end;">
                        <span class="skill rollable" data-core="speed" data-attribute="agility" data-skill="{{@key}}">{{@key}}</span>
                    </div>
                    {{/each}}
                </div>
                {{!-- speed: dexterity --}}
                <div class="attribute flexrow flex-group-center">
                    <label for="data.core.speed.attributes.dexterity.value" class="resource-label">dexterity</label>
                    <input type="text" name="data.core.speed.attributes.dexterity.value" value="{{data.core.speed.attributes.dexterity.value}}" data-dtype="Number"/>
                    {{#each data.core.speed.attributes.dexterity.skills}}
                    <div class="skill" style="align-items: center; justify-content: flex-end;">
                        <span class="skill rollable" data-core="speed" data-attribute="dexterity" data-skill="{{@key}}">{{@key}}</i></span>
                    </div>
                    {{/each}}
                </div>
                {{!-- power: strength --}}
                <div class="attribute flexrow flex-group-center">
                    <label for="data.core.power.attributes.strength.value" class="resource-label">strength</label>
                    <input type="text" name="data.core.power.attributes.strength.value" value="{{data.core.power.attributes.strength.value}}" data-dtype="Number"/>
                    {{#each data.core.power.attributes.strength.skills}}
                    <div class="skill" style="align-items: center; justify-content: flex-end;">
                        <span class="skill rollable" data-core="power" data-attribute="strength" data-skill="{{@key}}">{{@key}}</i></span>
                    </div>
                    {{/each}}
                </div>
                {{!-- power: endurance --}}
                <div class="attribute flexrow flex-group-center">
                    <label for="data.core.power.attributes.endurance.value" class="resource-label">endurance</label>
                    <input type="text" name="data.core.power.attributes.endurance.value" value="{{data.core.power.attributes.endurance.value}}" data-dtype="Number"/>
                    <span class="skill rollable" data-core="power" data-attribute="endurance" data-skill="endurance"><i class="fas fa-dice-d20"></i></span>
                    <label for="data.health.value" class="resource-label">Health</label>
                    <div class="resource-content flexrow flex-center flex-between">
                        <input type="text" name="data.health.value" value="{{data.health.value}}" data-dtype="Number"/>
                        <span> / </span>
                        <input type="text" name="data.health.max" value="{{data.health.max}}" data-dtype="Number"/>
                    </div>
                </div>
            </div>
            {{!-- wits and resolve --}}
            <div class="stats grid grid-2col">
                {{!-- wits --}}
                <div class="core flexrow flex-group-center">
                    <label for="data.core.wits.value" class="resource-label">wits</label>
                    <input type="text" name="data.core.wits.value" value="{{data.core.wits.value}}" data-dtype="Number"/>
                </div>
                {{!-- resolve --}}
                <div class="core flexrow flex-group-center">
                    <label for="data.core.resolve.value" class="resource-label">resolve</label>
                    <input type="text" name="data.core.resolve.value" value="{{data.core.resolve.value}}" data-dtype="Number"/>
                </div>
            </div>
            {{!-- wits and resolve abilities --}}
            <div class="attributes grid grid-4col">
                {{!-- wits: knowledge --}}
                <div class="attribute flexrow flex-group-center">
                    <label for="data.core.wits.attributes.knowledge.value" class="resource-label">knowledge</label>
                    <input type="text" name="data.core.wits.attributes.knowledge.value" value="{{data.core.wits.attributes.knowledge.value}}" data-dtype="Number"/>
                    {{#each data.core.wits.attributes.knowledge.skills}}
                    <div class="skill" style="align-items: center; justify-content: flex-end;">
                        <span class="skill rollable" data-core="wits" data-attribute="knowledge" data-skill="{{@key}}">{{@key}}</i></span>
                    </div>
                    {{/each}}
                </div>
                {{!-- wits: cunning --}}
                <div class="attribute flexrow flex-group-center">
                    <label for="data.core.wits.attributes.cunning.value" class="resource-label">cunning</label>
                    <input type="text" name="data.core.wits.attributes.cunning.value" value="{{data.core.wits.attributes.cunning.value}}" data-dtype="Number"/>
                    {{#each data.core.wits.attributes.cunning.skills}}
                    <div class="skill" style="align-items: center; justify-content: flex-end;">
                        <span class="skill rollable" data-core="wits" data-attribute="cunning" data-skill="{{@key}}">{{@key}}</i></span>
                    </div>
                    {{/each}}
                </div>
                {{!-- resolve: presence --}}
                <div class="attribute flexrow flex-group-center">
                    <label for="data.core.resolve.attributes.presence.value" class="resource-label">presence</label>
                    <input type="text" name="data.core.resolve.attributes.presence.value" value="{{data.core.resolve.attributes.presence.value}}" data-dtype="Number"/>
                    {{#each data.core.resolve.attributes.presence.skills}}
                    <div class="skill" style="align-items: center; justify-content: flex-end;">
                        <span class="skill rollable" data-core="resolve" data-attribute="presence" data-skill="{{@key}}">{{@key}}</i></span>
                    </div>
                    {{/each}}
                </div>
                {{!-- resolve: willpower --}}
                <div class="attribute flexrow flex-group-center">
                    <label for="data.core.resolve.attributes.willpower.value" class="resource-label">willpower</label>
                    <input type="text" name="data.core.resolve.attributes.willpower.value" value="{{data.core.resolve.attributes.willpower.value}}" data-dtype="Number"/>
                    <span class="skill rollable" data-core="resolve" data-attribute="willpower" data-skill="willpower"><i class="fas fa-dice-d20"></i></span>
                    <label for="data.mana.value" class="resource-label">Mana</label>
                    <div class="resource-content flexrow flex-center flex-between">
                        <input type="text" name="data.mana.value" value="{{data.mana.value}}" data-dtype="Number"/>
                        <span> / </span>
                        <input type="text" name="data.mana.max" value="{{data.mana.max}}" data-dtype="Number"/>
                    </div>
                </div>
            </div>
        </div>

        {{!-- Biography Tab --}}
        <div class="tab biography" data-group="primary" data-tab="description">
            {{editor content=data.biography target="data.biography" button=true owner=owner editable=editable}}
        </div>

        {{!-- Owned Items Tab --}}
        <div class="tab items" data-group="primary" data-tab="items">
            <ol class="items-list">
                <li class="item flexrow item-header">
                  <div class="item-image"></div>
                  <div class="item-name">Name</div>
                  <div class="item-controls">
                    <a class="item-control item-create" title="Create item" data-type="item"><i class="fas fa-plus"></i> Add item</a>
                  </div>
                </li>
            {{#each actor.gear as |item id|}}
                <li class="item flexrow" data-item-id="{{item._id}}">
                    <div class="item-image"><img src="{{item.img}}" title="{{item.name}}" width="24" height="24"/></div>
                    <h4 class="item-name">{{item.name}}</h4>
                    <div class="item-controls">
                        <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                        <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                    </div>
                </li>
            {{/each}}
            </ol>
        </div>

        {{!-- Owned Talents Tab --}}
        <div class="tab talents" data-group="primary" data-tab="talents">
            <ol class="items-list">
                <li class="item flexrow item-header">
                  <div class="item-image"></div>
                  <div class="item-name">Name</div>
                  <div class="item-controls">
                    <a class="item-control item-create" title="Create item" data-type="talent"><i class="fas fa-plus"></i> Add item</a>
                  </div>
                </li>
            {{#each actor.talents as |item id|}}
                <li class="item flexrow" data-item-id="{{item._id}}">
                    <div class="item-image"><img src="{{item.img}}" title="{{item.name}}" width="24" height="24"/></div>
                    <h4 class="item-name">{{item.name}}</h4>
                    <div class="item-controls">
                        <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                        <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                    </div>
                </li>
            {{/each}}
            </ol>
        </div>

        {{!-- Owned Spells Tab --}}
        <div class="tab spells" data-group="primary" data-tab="spells">
            <ol class="items-list">
                <li class="item flexrow item-header">
                  <div class="item-image"></div>
                  <div class="item-name">Name</div>
                  <div class="item-controls"></div>
                </li>
                {{#each actor.spells as |spells level|}}
                    <li class="item flexrow item-header">
                      <div class="item-name">{{level}}s</div>
                      <div class="item-controls">
                        <a class="item-control item-create" title="Create item" data-type="spell" data-level="{{level}}"><i class="fas fa-plus"></i> Add</a>
                      </div>
                    </li>
                    {{#each spells as |item id|}}
                        <li class="item flexrow" data-item-id="{{item._id}}">
                            <div class="item-image"><img src="{{item.img}}" title="{{item.name}}" width="24" height="24"/></div>
                            <h4 class="item-name">{{item.name}}</h4>
                            <div class="item-controls">
                                <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                                <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                            </div>
                        </li>
                    {{/each}}
                {{/each}}
            </ol>
        </div>

    </section>
</form>
