<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
        <div class="header-fields">
            <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>
            <div class="resources grid grid-2col">
                <div class="resource flex-group-center">
                    <label class="resource-label">Spell Level</label>
                    <input type="text" name="data.level" value="{{data.level}}" data-dtype="string" disabled/>
                </div>
                <div class="resources flex-group-center">
                    <label class="resource-label">Mana Cost</label>
                    <input type="text" name="data.manacost" value="{{data.manacost}}" data-dtype="Number"/>
                    <label class="resource-label">Upgrade Point Cost</label>
                    <input type="text" name="data.upcost" value="{{data.upcost}}" data-dtype="Number"/>
                </div>
            </div>
        </div>
    </header>

    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="description">Description</a>
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">

        {{!-- Description Tab --}}
        <div class="tab" data-group="primary" data-tab="description">
            {{editor content=data.description target="data.description" button=true owner=owner editable=editable}}
        </div>
    </section>
</form>
